body {
  margin:0;
  padding:0;
  overflow:hidden;
  background: #00131B;

  font-family: 'Tahoma', Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
  color: #afafaf;
  text-align: center;
}

canvas {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  width: 100%;
}

#splash {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: #000;
}

.on {
  opacity: 1;
  z-index: 2;
  transition: all 1s ease;
}
.off {
  opacity: 0;
  transition: all 1s ease;
}

a, #play, .sound { animation: cycleColor 10s ease infinite; }
a:hover { opacity: 0.8; }

.enter { 
  margin: 2em 0;
  position: relative; 
}
#play {
  font-size: 0.9em;
  padding: 1em 2em;
  letter-spacing: 0.2em;
  font-weight: 700;
  border: 1px solid;
  border-color: #afafaf;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
}
#play.on { transition-delay: 0.5s;}
#play:hover {
  background: rgba(255,255,255,0.2);
  transition: all 200ms ease-in;
}

#loader {
  position: absolute;
  z-index: -10;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.spinner {
  width: 8px;
  height: 8px;
  background: #fefefe;
  border-radius: 10px;
  display: inline-block;
  margin-left: 10px;
  animation: rotateSpinner 1.5s ease infinite;
}
.second { animation-delay: 0.5s; }
.third { animation-delay: 1s; }


.logo {
  max-width: 450px;
  margin: 0 auto 1em;
}
.logo .text { animation: cycleColor 10s ease infinite; }
.logo .line { animation: cycleFill 10s ease infinite; }

.about {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate3d(0, -50%, 0);
}
.sound { 
  font-variant: small-caps; 
  font-size: 1.2em; 
}

@keyframes rotateSpinner {
  0%    { transform: scale(1); }
  50%   { transform: scale(1.5); }
  100%  { transform: scale(1); }
}

@keyframes cycleFill {
  0%    { fill: hsl(0, 60%, 60%); }
  33%   { fill: hsl(90, 60%, 60%); }
  66%  { fill: hsl(180, 60%, 60%); }
  100%  { fill: hsl(360, 60%, 60%); }
}
@keyframes cycleBg {
  0%    { background: hsl(0, 60%, 60%); }
  33%   { background: hsl(90, 60%, 60%); }
  66%  { background: hsl(180, 60%, 60%); }
  100%  { background: hsl(360, 60%, 60%); }
}
@keyframes cycleColor {
  0%    { 
    color: hsl(0, 60%, 60%); 
    stroke: hsl(0, 60%, 60%);
    border-color: hsl(0, 60%, 60%);
  }
  33%    {  
    color: hsl(90, 60%, 60%); 
    stroke: hsl(90, 60%, 60%);
    border-color: hsl(90, 60%, 60%);
  }
  66%    {  
    color: hsl(180, 60%, 60%); 
    stroke: hsl(180, 60%, 60%);
    border-color: hsl(180, 60%, 60%);
  }
  100%  { 
    color: hsl(360, 60%, 60%); 
    stroke: hsl(360, 60%, 60%);
    border-color: hsl(360, 60%, 60%);
  }
}